@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-red-hart-text: 'Red Hat Text', sans-serif;
  --font-red-hat-display: 'Red Hat Display', sans-serif;
  --font-montserrat: 'Montserrat', sans-serif;
  --color-green: #00B041;
  --color-dark-blue: #004987;
  --color-light-blue: #00ADEE;
  --color-gold: #D2A446;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}
*{@apply scroll-smooth;}
body {
  font-family: 'Red Hat Text', sans-serif ;
}
.container{@apply mx-auto max-w-[1300];}
